<template>
  <div id="About" class="About">
    <h1 class="title">About</h1>
    <div class="content">
      <div style="width:60%;">
        <div id="code">
          <h3 style="color: #f0411a;">&lt;H2ck3r_5p2c3&gt;</h3>
          <br>
          <span style="color: #aaaaaa;">#What && !What</span>
          <br>
          <br>
          <span style="color: #00ff00;">def</span>&nbsp;&nbsp;<span style="color:yellow;">TheWhat</span> ( <span style="font-weight:bold;color:lightblue;">club</span> ) {
            <br>
            <br>
            <div class="indent">
            We are a group of weird guys who doesn't seriously care about our mark-sheets but the things we actually implement. The marks highlighted on our answer sheets doesn't turn us on, but the stars on our GitHub project gives us goosebumps.
            </div>
            <br>
          }
          <br>
          <br>
          <span style="color: #00ff00;">def</span>&nbsp;&nbsp;<span style="color:yellow;">The!What</span> ( <span style="font-weight:bold;color:lightblue;">club</span> ) {
            <br>
            <br>
            <div class="indent">
              We are not the cliche club people who conduct programms to enter it in report or arrange meetings to fill the minutes book. We don't believe in reports and paper-works but the actual work done to solve real-life problems.
            </div>
            <br>
          }
          <br>
          <br>
          <span style="color:yellow;">main</span> ( ) {
          <br>
          <div class="indent">
            <br>
            <span style="color:yellow;">TheWhat</span> ( Hacker_Space );
            <br>
            <br>
            <span style="color:yellow;">The!What</span> ( Hacker_Space );
            <br>
            <br>
            If you do something amazing one day, it can be a coincidence.
            If it happens twice, it can be pressure or infatuation.
            But if you are consistent, then it becomes a culture. We intend to cultivate that culture among ourselves.
            The realization that your immature code can really make a difference is powerful. We are the magicians who brings you the solutions to your problems with the touch of a finger. If you are foolish enough to believe that you can change the world with your code, then you are one of us. We usher you all to be part of this revolution.
            <br>
            <br>
            <span style="color: #aaaaaa;">#Keep Calm & Keep Coding</span>
            <br>
            <br>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
#About{
  background: #1c2036;
  color: #000;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.title {
  color: #507AE8;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 8rem;
  font-size: 4rem;
}
.content {
  padding: 3rem;
  font-size: 2rem;
  text-align: justify;
  display: flex;
  justify-content: center;
}
.indent{
  padding-left: 1.5rem;
}
#code {
  padding: 3rem;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
}
</style>
<style>
#Navbar {
  background: #1c2036 !important;
}
#Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #507AE8;
  background: #1c2036 !important;
}
</style>
