<template>
  <div id="Footer">
    Copyright &copy; 2019 Hacker Space NSSCE. All Rights Reserved.
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
#Footer {
  font-family: 'Roboto', sans-serif;
  height: 6rem;
  color: #ffffff;
  background: #507AE8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
</style>
